<nav class="navbar bg-light">
  <div class="container-fluid" style="align-items: center; display: flex;
       flex-direction: column;">
    <a class="navbar-brand" href="#">
      <img src="https://imageio.forbes.com/specials-images/imageserve/5fd75153eb02cc6819e440a4/Bitcoin-cryptocurrency-security--and-mining-concept--Safe-lock-with-symbol-of-bitcoin/960x0.jpg?format=jpg&width=960" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Crypto Trade Calculator
    </a>
  </div>
</nav>
